node_modules
.pnpm-store
.env
.env.local
.env.development
.env.production
.next
out
coverage
dist
build
.DS_Store
.vscode/*.log
prisma/dev.db
apps/api/prisma/dev.db
apps/api/prisma/*.db-journal
playwright-report
artifacts
*.log
.cache
